.idea/
cmake-build-debug/
cmake-build-release/
.vscode/*
!.vscode/c_cpp_properties.json
data/*
!data/config
!data/DICOM/000000.dcm
!data/README.md
!data/TrueBeam/
!data/Geant4
!data/Real
!data/Primo
!data/Results/
!data/dose3d/
!data/gps/
!data/CT_positioner/
build/
build-vscode/
output/
core/utilities/python/__pycache__
scripts/__pycache__
output/*
out/*
jobs/test/*